*
!docs
!docs/**
!src
!src/**
!.gitignore
!CLAUDE.md
!README.md
!pyproject.toml
!uv.lock
!.python-version
!docker-compose.yml
!.dockerignore
!.env.sample

.venv/
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
